
*{
    margin:auto;
    padding: auto;
}
#title{
    text-align: center;
}
.container{
    background-color: hotpink;
    padding: 20px;
    display:block;
    margin:auto;
    border-radius: 5px;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid red;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: vertical;
    border-radius: 10px;
}
#button{
    background-color: cyan;
    cursor: pointer;
}
table th{
    border: 1px solid black;
    height: 50px;
    
}
table{
    border-collapse: collapse;
    width:100%;
    margin-top: 15px;
}